.navbar{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    box-sizing:border-box;
    background:#0f172a;
    color:white;
}
.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
    padding:0;
    margin-left:auto;
    margin-right:30px;
}
.nav-buttons{
    display:flex;
    gap:15px;
}
.nav-links a {

    text-decoration:none;
    color:#cbd5e1;
    transition:0.3s;

}

.nav-links a:hover {

    color:#38bdf8;

}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}
.logo h2{
    font-size:24px;
    font-weight:700;
    letter-spacing:0.5px;
    margin:0;
    background:linear-gradient(90deg,#38bdf8,#a855f7);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.logo-icon{
    font-size:28px;
    color:#38bdf8;
}
.nav-links li{
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.nav-links li:hover{
    color:#38bdf8;
}
.nav-buttons{
    display:flex;
    gap:15px;
}

.nav-buttons button{
    padding:10px 22px;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    transition:0.3s ease;
}
.login-btn{
    background:transparent;
    color:white;
    border:1px solid #38bdf8;
}

.login-btn:hover{
    background:#38bdf8;
    color:#0f172a;
}
.start-btn{
    background:linear-gradient(90deg,#38bdf8,#a855f7);
    color:white;
    border:none;
}

.start-btn:hover{
    transform:translateY(-2px);
}
.menu-icon{
    display:none;
}
@media(max-width:768px){

    .menu-icon{
        display:block;
        color:white;
        font-size:28px;
        cursor:pointer;
    }

    .nav-links,
    .nav-buttons{
        display:none;
    }

    .nav-links.active,
    .nav-buttons.active{
        display:flex;
    }

    .nav-links.active{
        position:absolute;
        top:75px;
        left:0;
        width:100%;
        flex-direction:column;
        align-items:center;
        gap:20px;
        background:#0f172a;
        padding:25px 0;
        z-index:100;
    }

    .nav-buttons.active{
        position:absolute;
        top:210px;
        left:0;
        width:100%;
        justify-content:center;
        background:#0f172a;
        padding-bottom:25px;
        z-index:100;
    }

}