*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Inter',sans-serif;
  background:#060816;
  color:white;
  overflow-x:hidden;
}

#root{
  min-height:100vh;
}